@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.photo{
     display: flex;
     justify-content: end;
     margin-right:40px;
     height: 600px;
     margin-top: -500px;
     
}
body{
    background: linear-gradient(#fff, #a5d4f2);
}
   

span{
    font-size: 32px;
    color:#368dae;
    text-decoration: none;
    font-weight: 700;
}

.taille{
  height: 500px;
  width: 730px;
}
.para{
    display: flex;
    font-size: 40px;
    margin-left: 40px;
    margin-right: 40px;
    color: #368dae;
    
}
.gauche{
    display: flex;
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;

}
.home{
    display: flex;
    margin-left: 700px;
    position: absolute;
}
.about{
    display: flex;
    margin-left: 800px;
    position: absolute;
}
.service{
    display: flex;
    margin-left: 900px;
    position: absolute;
}
.prospect{
    display: flex;
    margin-left: 1000px;
    position: absolute;
}
.estimator{
    display: flex;
    margin-left: 1100px;
    position: absolute;
}
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.action-button {
    padding: 10px 40px;
    border-radius: 20px;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    /* Ici on modifie la couleur et le fond de notre petit bouton */
    background-color: white;
    color: black;
    margin-left: 100px;
}
.action {
    padding: 10px 40px;
    border-radius: 20px;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    /* Ici on modifie la couleur et le fond de notre petit bouton */
    background-color:#368dae; 
    color: white;
    margin-left: 105px;
}
.line{
    display: flex;
    margin-top: 100px;
}   
.one{
    font-size: 20px;
    margin-right: 3px;
}
.two{
    font-size: 20px;
    margin-right: 5px;
    margin-left: 5px;
    height: 100px;
    width: 210px;
background-color: #368dae;
color: white;
}
.three{
    font-size: 20px;
    margin-left:5px ;
}
.jo{
    font-size: 40px;
    color: #368dae;
}
.ji{
    font-size: 40px;
    color: white;

}
.carde{
    width: 700px;
    font-size: 20px;
    height: 2px;

}
.alig{
    display: flex;
    justify-content: baseline;
    margin-top: 100px;

}
.reduit{
    font-size: 20px;
    margin-top: 100px;
    margin-right: 100px;
    border-radius: 10px;
    background-color: #fff;
}
.fin{
    font-size: 20px;
    margin-top: 100px;
    margin-right: 100px;
    background-color: #368dae ;
    color: white;
    width: 800px;
    height: 350px;
    border-radius: 10px;
    
}
.top{
    margin-top: 100px;
}
main{
    background-color: white;
}
.go{
    font-size: 20px;
    margin-top: 100px;
    margin-right: 100px;
    border-radius: 30px;
    background-color: aliceblue;
}
.lon{
margin-top: 220px;
    background-image:("long.jpg") ;

}
.blow{
    height: 200px;
    width: 500px;
    background-color: #368dae;
    color: white;
    margin-top: -240px;
    position: absolute;
    margin-left: 30px;
}
.s1{
    margin-left:40px ;
    font-size: 30px;
}
.s2{
    margin-left: 40px;
}
.cont{
    color: black;
    margin-top: -120px;
    margin-left: 69px;
    padding: 10px 15px;
    border-radius: 20px;
    text-decoration: none;
    position: absolute;
    background-color: white;

}
.s3{
    margin-top: 130px;
    margin-left: 70px;
}

.s6{
    margin-left: 80px;
    margin-top: 170px;

   
    
}
.s9{
    display: flex;
    margin-top: -170px;
}
.but{
    color: white;
    margin-top: 180px;
    margin-left: 1px;
    padding: 10px 15px;
    border-radius: 20px;
    text-decoration: none;
    background-color: #368dae;
    font-size: 13px;
}
.bot{
    font-size:500px;
    margin-top:-400px;
    color: #a5d4f2;
    position: absolute;
    opacity: 0.2;
    background: fixed;
}
.bom{
    height: 200px;
    width: 500px;
    background-color: #368dae;
    color: white;
    margin-top: -50px;
    position: absolute;
    margin-left: 30px;
}
.ard{
    margin-left:40px ;
    
}
.ord{
    margin-left: 40px;
}
.conta{
    color: black;
    margin-top: -5px;
    margin-left: 40px;
    padding: 10px 15px;
    border-radius: 20px;
    text-decoration: none;
    position: absolute;
    background-color: white;
}
.giga{
    height: 200px;
    width: 900px;
    background-color: #368dae;
    color: white;
    margin-top: -150px;
    
    margin-left: 200px;
    margin-right: 50px;

}
.orda{
    margin-top: -100px;
    margin-left: 350px;
    color: white;
    margin-left: 500px;
    margin-right: 300px;
    margin-top: -170px;
    position: absolute;
}
.muni{
    margin-left: 260px;
    margin-top: 50px;
}
.bobo{
    margin-top: -450px;
    margin-left: 500px;
    position: absolute;
    border-radius: 20%;
    margin-bottom: 100px;
}
.repas{
    height: 300px;
    width:400px ;
}
.pipe{
    border-radius: 10px;
}
.baba{
    margin-left: 860px;
    border-radius: 10px;
    margin-top: -350px;
}
.pipi{
    border-radius: 10px;
    margin-bottom: 150px;
}
.ja{
margin-top: 60px;
color: white;


}
.jaj{
    background-image: ("contact-1.jpg");
    margin-top: -100px;
    opacity: 0.8;
    

}
.joj{
    background-color: #368dae;
    width: 100%;
    height: 250px;
}
.joe{
    color: white;
}
footer{
    background-color: white;
}
hr{
    margin-top: 100px;
}
.mar{
    margin-top: 20px;
    color: white;
    margin-left: 10px;
}
.mor{
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-left: 1000px;
    margin-top: -30px;
}
.mur{
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-left: 1040px;
    margin-top: -30px;
}
.mbr{
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-left: 950px;
    margin-top: -30px;
}
.mlr{
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-left: 1080px;
    margin-top: -30px;
}